[project]
name = "jarvis"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "opencv-python>=4.12.0.88",
    "pyttsx3>=2.99",
]

[dependency-groups]
dev = [
    "ruff>=0.14.6",
]
